<div>
  <h2>Add User</h2>
  <form (ngSubmit)="submitForm()">
    <label>
      Name:
      <input type="text" [(ngModel)]="user.name" name="name" required />
    </label>
    <br />
    <label>
      Email:
      <input type="email" [(ngModel)]="user.email" name="email" required />
    </label>
    <br />
    <label>
      Username:
      <input type="text" [(ngModel)]="user.username" name="username" required />
    </label>
    <br />
    <button type="submit">Add User</button>
  </form>

  <hr />
  <h2>Update User</h2>

  <div *ngIf="showUpdateForm">
    <h2>Update User</h2>
    <form (ngSubmit)="submitUpdateForm()">
      <label>
        Name:
        <input
          type="text"
          [(ngModel)]="updateUserForm.name"
          name="editName"
          required
        /> </label
      ><br />
      <label>
        Email:
        <input
          type="email"
          [(ngModel)]="updateUserForm.email"
          name="editEmail"
          required
        /> </label
      ><br />
      <label>
        Username:
        <input
          type="text"
          [(ngModel)]="updateUserForm.username"
          name="editUsername"
          required
        /> </label
      ><br />
      <button type="submit">Update User</button>
    </form>
  </div>
  <hr />
  <h3>User List</h3>
  <ul>
    <li *ngFor="let u of users">
      {{ u.name }} - {{ u.email }} - {{ u.username }}
      <button (click)="editUser(u)">Edit</button>
      <button (click)="deleteUser(u.id)">Delete</button>
    </li>
  </ul>
</div>
