<div>
  <div *ngIf="users.length === 0">Loading users...</div>

  <ul *ngIf="users.length > 0">
    <li *ngFor="let user of users">
      <h3>{{ user.name }} ({{ user.username }})</h3>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone:</strong> {{ user.phone }}</p>
      <p>
        <strong>Website:</strong>
        <a href="http://{{ user.website }}" target="_blank">{{
          user.website
        }}</a>
      </p>

      <h4>Address:</h4>
      <p><strong>Street:</strong> {{ user.address.street }}</p>
      <p><strong>Suite:</strong> {{ user.address.suite }}</p>
      <p><strong>City:</strong> {{ user.address.city }}</p>
      <p><strong>Zipcode:</strong> {{ user.address.zipcode }}</p>
      <p>
        <strong>Geo Coordinates:</strong> (Lat: {{ user.address.geo.lat }}, Lng:
        {{ user.address.geo.lng }})
      </p>

      <h4>Company:</h4>
      <p><strong>Name:</strong> {{ user.company.name }}</p>
      <p><strong>Catchphrase:</strong> {{ user.company.catchPhrase }}</p>
      <p><strong>BS:</strong> {{ user.company.bs }}</p>

      <hr />
    </li>
  </ul>
</div>
